@font-face {
  font-family: 'Misto';
  src: url('fonts/Misto.woff2') format('woff2'),
    url('fonts/Misto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: rgb(249, 250, 251);
  color: white;
}

a {
  color: rgb(225 191 117);
}

a:hover {
  color: rgb(208, 156, 45);
}

.container {
  display: flex;
  height: 100vh;
}

.photo-section {
  flex: 2;
  background-image: url('images/skyscraper.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.title-container {
  margin-top: 200px;
  height: 200px;
  background-color: rgba(40, 40, 40, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
}

.title-container p {
  font-size: 44px;
  font-family: 'Misto', Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  margin-top: 4px;
  height: 60px;
}

.sign-up-section {
  flex: 3;
  color: black;
}

.cta {
  min-height: 200px;
  margin: 200px 40px 0px 40px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sign-up-form {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 6px rgba(100, 100, 100, .2), 0px -2px 6px rgba(100, 100, 100, .2);

  display: flex;
  flex-wrap: wrap;
  padding: 50px 40px;
  gap: 20px;
}

.sign-up-form > legend {
  width: 100%;
  font-size: 24px;
}

.form-row {
  width: calc(50% - 10px);
  flex: 0 0 auto;
}

.form-row>label {
  font-size: 10px;
  font-weight: 700;
}

.form-row>input {
  width: 100%;
  border-style: solid;
  border-radius: 4px;
  border-color: #E5E7EB;
  outline: none;
  padding: 4px;
}

.form-row>input:focus {
  border-color: rgb(0 110 186);
  box-shadow: 0px 2px 2px rgba(100, 100, 100, .2);
}

.form-row>input[type=password]:invalid {
  border-color: rgb(253, 68, 68);
}

.submit-section {
  padding: 40px;
}

.submit-section>button {
  background-color: rgb(90 132 158);
  color: white;
  padding: 10px 36px;
  border: none;
  border-radius: 6px;
}

.submit-section>button:hover {
  background-color: rgb(41, 91, 121);
  cursor: pointer;
}

.submit-section>p {
  margin-top: 10px;
}

.photo-attribution {
  margin-top: 80%;
  text-align: center;
  text-shadow: -2px -2px 6px black, 2px 2px 6px black;
}