* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  max-width: 100%;
  list-style: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    rgb(59, 108, 163),
    rgb(11, 50, 93),
    rgb(2,33,67)
  );
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.photo-section {
  flex: 2;
  background-image: url('images/skyscraper.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.sign-up-section {
  flex: 3;
}

/* .sign-up-section > div {
  background-color: rgb(81,46,57);
  width: 80%;
  margin: 60px auto;
  padding: 16px 24px;
} */

.title-container {
  margin-top: 300px;
  height: 200px;
  background-color: rgba(40,40,40,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title-container p {
  font-size: 36px;
}

.logo {
  margin-top: 4px;
  height: 60px;
}